DATABASE_URL="postgresql://postgres:postgres@localhost:5432/synergyinvest?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-32-byte-random-secret"
DOCUMENT_STORAGE_ROOT="./storage/documents"
